
header {
    background-color: blueviolet;
    height: 100px;
    width:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: aliceblue;
    font-size:xx-large;
    font-weight: 500;
    font-style: oblique;
}

body {
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/PLKSLB6I5VDTPNGI6NB63SQHUI.png');
    font-family: 'Poppins', sans-serif;
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}


h1{
    color: black
}
h2{
    color: blueviolet;
}

div { 
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;
    width: 200px;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}

#form {
    background-color: #f2e6e6;
    
    border: 1px solid #d0cccc;
    border-radius: 5px;
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;;
}

button{
    width: 200px;
    height: 40px;
    padding: 7px;
    margin: 20px;
    color: #ffffff;
    border: NONE;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(225deg, #00b92b 0%, #08da20 50%, #52fd85);
    box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.4);
    font-size: large;
}



